#main,
body#tinymce.wp-editor {
    blockquote,
    blockquote p,
    .chapter blockquote,
    .chapter blockquote p {
        /*  margin: 32px 0;
         font-size: 32px; */
        font-size: larger;
        line-height: 1.25;
        font-weight: normal;
    }
    blockquote p,
    .chapter blockquote p {
        border-left: 0.15em solid lightgrey;
        padding-left: 10px;
    }
    @media screen and (max-width: 740px) {
        blockquote,
        blockquote p,
        .chapter blockquote,
        .front-matter blockquote {
            /*    margin: 26px 0;
           font-size: 24px;  */
            font-size: 20px;
            line-height: 1.3333333333;
        }
    }
}