/**
*  book.css overrides
**/

body {
    font-family: $font-family;
    ;
}

.button,
a.call-to-action,
button,
input[type=submit] {
    font-family: $font-family;
}

.block-reading-meta {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
}

.footer {
    font-family: $font-family;
}

.header {
    font-family: $font-family;
}

@media screen and (max-width:59.975rem) {
    .js-header-nav a {
        font-family: $font-family;
    }
}

section.chapter header h1 span {
    display: inline;
}

.section-comments {
    font-family: $font-family;
}

.toc,
.toc ol {
    font-family: $font-family;
}

.toc__part>.toc__title__container,
.toc__part>.toc__title {
    font-weight: normal;
    text-transform: uppercase;
}

.book-header__subtitle {
    font-family: $font-family;
}

.book-header__author {
    font-family: $font-family;
}

.book-header {
    --primary: #{$thunderbird-red};
    --primary-dark: #{$thunderbird-red-light};
    --accent: #{$fantasy-plain};
    --header-color: #{$black};
    --header-bg: #{$gray-light};
    background-color: var(--header-bg);
    color: var(--header-color);
    .book-header__cover__downloads {
        button {
            background: $black;
            color: $white;
            border-bottom: none;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 1rem 1.5rem;
            transition: background-color 0.25s ease 0s, color 0.25s ease 0s, padding-left 0.25s ease 0s, padding-right 0.25s ease 0s;
            cursor: pointer;
            svg {
                color: $orange-red;
            }
            &:focus,
            &:hover {
                color: $white;
                border-bottom-color: $white;
                text-decoration: none;
                background-color: $orange-red;
                box-shadow: none;
                outline: none;
                svg {
                    color: $white;
                }
            }
        }
        >ul {
            border-top: 2px solid $orange-red;
            li {
                font-family: $font-family;
                font-weight: normal;
                color: white;
                &:hover,
                &:focus {
                    outline: none;
                    transition: background-color 0.25s ease 0s, color 0.25s ease 0s, padding-left 0.25s ease 0s, padding-right 0.25s ease 0s;
                    cursor: pointer;
                    background-color: $orange-red;
                }
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.book-header__description {
    font-family: $font-family;
}

.license-text {
    font-family: $font-family;
    ;
    font-weight: normal;
}

.block-info__description {
    font-family: $font-family;
}

.block-meta__subtitle {
    font-family: $font-family;
}

.reading-header {
    font-family: $font-family;
}

#content h2.page-title,
body.page:not(.home) #content h2,
body:not(.home) #content h2.denied-title {
    font-family: $font-family;
}

#content p.h5p-count {
    font-family: $font-family;
}

#content .h5p-pagination {
    font-family: $font-family;
}

#content .denied-text p {
    font-family: $font-family;
}

.nav-next a,
.nav-previous a {
    font-family: $font-family;
}

.nav-reading__next a,
.nav-reading__previous a {
    font-family: $font-family;
}

.nav-reading__up .nav-reading__up__text {
    font-family: $font-family;
}

.nav-reading--page__next,
.nav-reading--page__previous {
    font-family: $font-family;
}

.block-toggle__cta__button {
    color: var(--primary)
}

.error404 form.search-form input,
.header__search .header__search__form form input {
    color: $black;
}

.nav-reading {
    z-index: 1;
    .nav-reading__up {
        cursor: pointer;
    }
}