#main,
body#tinymce.wp-editor {
    .wp-caption {
        margin-top: 0.25em;
        margin-bottom: 1em;
        figcaption {
            margin-top: 0.5em;
            padding: 0;
        }
    }
    .wp-nocaption {
        margin-top: 0.25em;
        margin-bottom: 0.5em;
    }
}