.hfh-search-term {
    font-weight: bold;
    background-color: $fantasy-plain;
}

#main {
    .search-results {
        a.entry-summary {
            color: $black;
            &:hover {
                color: $thunderbird-red-light;
            }
        }
    }
}