#main,
body#tinymce.wp-editor {
    a {
        text-decoration: none;
        //font-weight: bold;
        &:hover {
            text-decoration: underline;
            color: $thunderbird-red-light;
        }
    }
    .site-content a {
        color: $thunderbird-red;
    }
}

#main .nav-reading a:hover {
    color: var(--primary-fg)
}

body#tinymce.wp-editor {
    a {
        color: var(--primary);
    }
}