.button,
a.call-to-action,
button,
input[type="submit"] {
  font-family: var(--f-primary);
}

.button,
button,
input[type="submit"],
a.call-to-action {
  border-radius: 0;

  &.focus,
  &:focus {
    box-shadow: none;
    &:focus-visible {
      outline: 2px solid var(--c-blue);
    }
  }
}
