.button,
a.call-to-action,
button,
input[type="submit"] {
  font-family: var(--f-primary);
}

.button,
button,
input[type="submit"],
a.call-to-action {
  border-radius: 0;

  &.focus,
  &:focus {
    box-shadow: none;
    &:focus-visible {
      outline: 2px solid var(--c-blue);
    }
  }
}

.hfh-button.hfh-button--icon-minus {
  &::before,
  &::after {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M24 12H0' stroke='%23E74011' stroke-width='2'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }
}

#page #main .site-content a.call-to-action {
  @extend button,
    .hfh-button,
    .hfh-button--primary,
    .hfh-button--animated,
    .hfh-button--icon-arrow;

  &:hover {
    text-decoration: none;
  }
}
