//---
$off-black: #333;

/**
*   Set css vars for book.css
**/

:root {
  --primary: var(--c-thunderbird-red);
  --primary-dark: var(--c-thunderbird-red-light);
  --primary-alpha: rgba(var(--c-thunderbird-red-alpha), 0.25);
  --primary-fg: var(--c-white);
  --accent: var(--c-fantasy-plain);
  --accent-alpha: rgba(var(--c-fantasy-plain), 0.25);
  --accent-dark: var(--c-$fantasy-dark);
  //--accent-fg: #{$white};
  //--success: #070;
  //--error: #d00;
  //--warning: #e90;
  --body-bg: var(--c-white);
  //--body-bg-alt: #f6f6f6;
  --body-text: #{$off-black};
  --header-color: var(--c-black);
  --header-bg: var(--c-gray-light);
  --header-text: #{$off-black};
  --footer-bg: var(--c-black);
  --footer-text: var(--c-white);
}
