hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid $fantasy-plain;
    margin: 32px 0;
    padding: 0;
    width: 100%;
    &.before-footnotes {
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 740px) {
    hr {
        margin: 26px 0;
    }
}