table {
  border: 0;
  table-layout: auto;
  font-size: 1rem;

  thead,
  tbody {
    th,
    td {
      padding: 1rem 0.5rem;
      line-height: 1.5rem;
    }
  }

  thead {
    > tr > td {
      text-transform: uppercase;
      color: var(--c-thunderbird-red);
      font-size: 0.875rem;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
    }
  }

  // Remove top border of first body row if there was no thead.
  tbody:first-child {
    tr:first-child {
      border-top: none;
    }
  }

  p {
    font-size: inherit;
    line-height: inherit;
    &:empty {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  caption {
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
    color: unset;
    caption-side: top;
  }
}
