.textbox {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.textbox__header p {
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

.textbox.textbox--key-takeaways,
.textbox--key-takeaways.bcc-box,
.textbox.textbox--learning-objectives,
.textbox--learning-objectives.bcc-box,
.textbox.textbox--exercises,
.textbox--exercises.bcc-box,
.textbox.textbox--examples,
.textbox--examples.bcc-box {
  .textbox__header {
    border-radius: 0;
    a {
      color: var(--c-white);
      text-decoration: underline;
      &:hover {
        color: var(--c-white);
        text-decoration: none;
      }
    }
  }
}

.textbox.textbox--key-takeaways {
  --c-textbox-color: var(--c-textbox-takeaways);
}

.textbox.textbox--examples {
  --c-textbox-color: var(--c-textbox-examples);
}

.textbox.textbox--learning-objectives {
  --c-textbox-color: var(--c-textbox-objectives);
}

.textbox.textbox--exercises {
  --c-textbox-color: var(--c-textbox-exercises);
}

.textbox {
  border-width: 2px;
  border-radius: 0;
  border-color: var(--c-textbox-color, var(--c-black));
  a {
    color: var(--c-textbox-color, var(--c-thunderbird-red));
    &:hover {
      color: var(--c-textbox-color, var(--c-thunderbird-red));
    }
  }
  hr {
    border-color: var(--c-textbox-color, var(--c-fantasy-plain));
    opacity: 0.5;
  }

  li {
    &::marker {
      color: var(--c-textbox-color, var(--c-thunderbird-red));
    }
  }

  details {
    border-color: var(--c-textbox-color, var(--c-fantasy-plain));
    &:hover > summary,
    &[open] > summary {
      color: var(--c-textbox-color);
    }
  }
}
