blockquote,
blockquote p,
.chapter blockquote,
.chapter blockquote p {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: normal;
}

blockquote p,
.chapter blockquote p {
    border-left: 0.15em solid lightgrey;
    padding: 0 15px;
    margin: 2rem 15px;
}

@media screen and (max-width: 740px) {
    blockquote,
    blockquote p,
    .chapter blockquote,
    .front-matter blockquote {
        font-size: 1.25rem;
        line-height: 1.3333333333;
    }
}