details {
    margin: 1em 0;
    padding: 0.35em 0;
    &>p:first-child,
    &>summary:first-child+p {
        margin-top: 0;
    }
    summary,
    p {
        margin: 0.35rem 0;
    }
    >:last-child {
        margin-bottom: 0;
    }
    border-width: 2px 0;
    border-color: transparent;
    border-style: solid;
}

summary {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.7142857143;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: $thunderbird-red;
    &:hover {
        color: $thunderbird-red-light;
    }
}

summary::marker {
    content: "";
}

summary::after {
    content: "►";
    position: absolute;
    font-weight: bold;
    transition: all 0.25s;
    margin-left: 0.3rem;
}

summary.plus::after {
    content: "+";
    font-size: 1.75em;
    font-weight: bold;
    transition: all 0.25s;
    margin-top: -0.8rem;
    margin-left: 0.3rem;
}

details[open] {
    border-color: $fantasy-plain;
    summary::after {
        transform: rotate(90deg);
    }
    summary.plus::after {
        transform: translate(3px, 1px) rotate(45deg)
    }
}