.textbox {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.textbox__header p {
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

.textbox__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textbox.textbox--key-takeaways,
.textbox--key-takeaways.bcc-box,
.textbox.textbox--learning-objectives,
.textbox--learning-objectives.bcc-box,
.textbox.textbox--exercises,
.textbox--exercises.bcc-box,
.textbox.textbox--examples,
.textbox--examples.bcc-box {
    border-width: 2px;
    border-radius: 0;
    .textbox__header {
        border-radius: 0;
    }
}

.textbox.textbox--key-takeaways {
    border-color: var(--textbox-takeaways);
    a {
        color: var(--textbox-takeaways);
        &:hover {
            color: var(--textbox-takeaways);
        }
    }
    hr {
        border-color: var(--textbox-takeaways);
        opacity: 0.5;
    }
}

.textbox.textbox--examples {
    border-color: var(--textbox-examples);
    a {
        color: var(--textbox-examples);
        &:hover {
            color: var(--textbox-examples);
        }
    }
    hr {
        border-color: var(--textbox-examples);
        opacity: 0.5;
    }
}

.textbox.textbox--learning-objectives {
    border-color: var(--textbox-objectives);
    a {
        color: var(--textbox-objectives);
        &:hover {
            color: var(--textbox-objectives);
        }
    }
    hr {
        border-color: var(--textbox-objectives);
        opacity: 0.5;
    }
}

.textbox.textbox--exercises {
    border-color: var(--textbox-exercises);
    a {
        color: var(--textbox-exercises);
        &:hover {
            color: var(--textbox-exercises);
        }
    }
    hr {
        border-color: var(--textbox-exercises);
        opacity: 0.5;
    }
}